<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    <title>{{ shop.name }}</title>

    <meta name="description" content="">

    {% render 'meta-tags' %}

    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'password.css' | asset_url | stylesheet_tag }}

    <script src="{{ 'password.js' | asset_url }}" defer="defer"></script>

    {{ content_for_header }}
  </head>

  <body class="password gradient">
    <main id="MainContent" class="password-main">
      <div class="password-content">
        {% if shop.password_message != blank %}
          <div class="password-message">
            {{ shop.password_message }}
          </div>
        {% endif %}

        <div class="password-header">
          <h1 class="shop-name">
            {% if settings.logo != blank %}
              <img src="{{ settings.logo | img_url: 'master' }}" alt="{{ shop.name }}" class="logo-image">
            {% else %}
              {{ shop.name }}
            {% endif %}
          </h1>
        </div>

        {% form 'storefront_password' %}
          {% if form.errors %}
            <div class="password-errors">
              {{ form.errors | default_errors }}
            </div>
          {% endif %}

          <div class="password-field">
            <input
              type="password"
              name="password"
              placeholder="{{ 'general.password_page.password' | t }}"
              {% if form.errors %}
                class="input--error"
                aria-invalid="true"
              {% endif %}
            >

            <button type="submit" class="password-button">
              {{ 'general.password_page.enter' | t }}
            </button>
          </div>
        {% endform %}

        {% if shop.enabled_password %}
          {% form 'customer' %}
            <div class="password-newsletter">
              <h2 class="password-newsletter-heading">
                {{ 'general.password_page.newsletter_heading' | t }}
              </h2>

              <div class="password-newsletter-form">
                <input type="hidden" name="contact[tags]" value="prospect,password page">
                <input
                  type="email"
                  name="contact[email]"
                  placeholder="{{ 'general.password_page.newsletter_placeholder' | t }}"
                  aria-label="{{ 'general.password_page.newsletter_placeholder' | t }}"
                >

                <button type="submit" class="password-button">
                  {{ 'general.password_page.subscribe' | t }}
                </button>
              </div>
            </div>
          {% endform %}
        {% endif %}

        <div class="password-social">
          {% if settings.social_twitter_link != blank %}
            <a href="{{ settings.social_twitter_link }}" class="social-link">
              {% render 'icon-twitter' %}
            </a>
          {% endif %}

          {% if settings.social_facebook_link != blank %}
            <a href="{{ settings.social_facebook_link }}" class="social-link">
              {% render 'icon-facebook' %}
            </a>
          {% endif %}

          {% if settings.social_instagram_link != blank %}
            <a href="{{ settings.social_instagram_link }}" class="social-link">
              {% render 'icon-instagram' %}
            </a>
          {% endif %}
        </div>

        {% if shop.login_link != blank %}
          <div class="password-login">
            <a href="{{ shop.login_link }}">
              {{ 'general.password_page.admin_link' | t }}
            </a>
          </div>
        {% endif %}
      </div>
    </main>
  </body>
</html>